.inputStyle {
  background-color: transparent;
  border-radius: 4px;
  color: #fff;
  border-color: #f5f5f5;
  border-width: 1px;
}
.center {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.border-radius-1 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.cooperate-banner {
  width: 100%;
}
.cooperate-banner .cooperate-pic {
  width: 100%;
}
.cooperate-banner .cooperate-pic img {
  width: 100%;
  display: block;
}
.cooperate-content {
  width: 100%;
  height: auto;
  margin-top: 60px;
}
.cooperate-content .container {
  padding: 0px 0px!important;
}
.cooperate-content .cooperate-container .cooperate-title {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #999;
}
.cooperate-content .cooperate-container .cooperate-title h2 {
  color: #333;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 24px;
  display: inline-block;
  padding-bottom: 8px;
  font-weight: bold;
  border-bottom: 2px solid #333;
}
.cooperate-content .cooperate-container .cooperate-title i {
  width: 24px;
  height: 28px;
  background: url("../images/home/slant.png");
  background-size: 100% 100%;
  background-position: center center;
  display: inline-block;
}
.cooperate-content .cooperate-container .cooperate-title span {
  color: #999;
  font-size: 16px;
  margin-left: -10px;
}
.cooperate-content .cooperate-container .join-content {
  margin-top: 30px;
}
.cooperate-content .cooperate-container .join-content .join-pic {
  width: 30%;
  float: left;
}
.cooperate-content .cooperate-container .join-content .join-pic img {
  display: block;
  width: 100%;
  border: 2px solid #f5f5f5;
}
.cooperate-content .cooperate-container .join-content .join-term {
  width: 68%;
  float: right;
  margin-top: 10px;
}
.cooperate-content .cooperate-container .join-content .join-term li {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}
.cooperate-content .cooperate-container .support {
  margin-top: 60px;
}
.cooperate-content .cooperate-container .agent-term {
  margin-top: 30px;
}
.cooperate-content .cooperate-container .agent-term li {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}
.cooperate-content .cooperate-container .league-info {
  width: 100%;
  height: 250px;
  background: url("../images/cooperate/join.jpg");
  background-size: 100% 100%;
  position: relative;
}
.cooperate-content .cooperate-container .league-info .league-content {
  width: 100%;
  height: 73%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.cooperate-content .cooperate-container .league-info .league-content .league-content-left {
  width: 48%;
  float: left;
  position: relative;
}
.cooperate-content .cooperate-container .league-info .league-content .league-content-left dt {
  width: 90%;
  margin-top: 4px;
  float: right;
}
.cooperate-content .cooperate-container .league-info .league-content .league-content-left dt span {
  font-size: 14px;
  color: #f5f5f5;
}
.cooperate-content .cooperate-container .league-info .league-content .league-content-left dt input {
  width: 66%;
  height: 30px;
  float: right;
  background-color: transparent;
  border-radius: 4px;
  color: #fff;
  border-color: #f5f5f5;
  border-width: 1px;
}
.cooperate-content .cooperate-container .league-info .league-content .league-content-left dt input::-ms-clear {
  display: none;
}
.cooperate-content .cooperate-container .league-info .league-content .league-content-right {
  width: 50%;
  float: left;
  position: relative;
}
.cooperate-content .cooperate-container .league-info .league-content .league-content-right dt {
  width: 90%;
  margin-top: 4px;
  float: right;
}
.cooperate-content .cooperate-container .league-info .league-content .league-content-right dt span {
  font-size: 14px;
  color: #f5f5f5;
}
.cooperate-content .cooperate-container .league-info .league-content .league-content-right dt input {
  width: 66%;
  height: 30px;
  float: right;
  background-color: transparent;
  border-radius: 4px;
  color: #fff;
  border-color: #f5f5f5;
  border-width: 1px;
}
.cooperate-content .cooperate-container .league-info .league-content .league-content-right dt input::-ms-clear {
  display: none;
}
.cooperate-content .cooperate-container .league-info .league-content .join-submit {
  width: 53%;
  height: 40px;
  background: #d7d6d6;
  opacity: 0.7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  display: block;
  color: #333;
  border: none;
}
@media (max-width: 767px) {
  .cooperate-content {
    margin-top: 12px;
  }
  .cooperate-content .container {
    padding: 10px 10px!important;
  }
  .cooperate-content .cooperate-container .cooperate-title h2 {
    font-size: 14px;
    padding-bottom: 2px;
  }
  .cooperate-content .cooperate-container .cooperate-title span {
    font-size: 10px;
  }
  .cooperate-content .cooperate-container .cooperate-title i {
    position: relative;
    top: 5px;
  }
  .cooperate-content .cooperate-container .join-content {
    margin-top: 15px;
  }
  .cooperate-content .cooperate-container .join-content .join-term li {
    font-size: 12px;
  }
  .cooperate-content .cooperate-container .join-content .join-term-mobile {
    width: 100%;
  }
  .cooperate-content .cooperate-container .support {
    margin-top: 10px;
  }
  .cooperate-content .cooperate-container .agent-term {
    margin-top: 15px;
  }
  .cooperate-content .cooperate-container .agent-term li {
    font-size: 12px;
  }
  .cooperate-content .cooperate-container .agent-padding {
    padding: 0px 0px!important;
  }
  .cooperate-content .cooperate-container .league-info {
    width: 100%;
    height: 290px;
    margin-top: 15px;
    background: url("../images/cooperate/join-mobile.jpg");
    background-size: cover;
  }
  .cooperate-content .cooperate-container .league-info .league-content {
    height: 90%;
  }
  .cooperate-content .cooperate-container .league-info .league-content .league-content-left {
    width: 80%;
    height: auto;
    float: none;
    margin: 0 auto;
  }
  .cooperate-content .cooperate-container .league-info .league-content .league-content-left dt span {
    font-size: 10px;
  }
  .cooperate-content .cooperate-container .league-info .league-content .league-content-left dt input {
    height: 25px;
    font-size: 14px;
  }
  .cooperate-content .cooperate-container .league-info .league-content .league-content-right {
    width: 80%;
    height: auto;
    float: none;
    margin: 0 auto;
    padding-bottom: 6px;
  }
  .cooperate-content .cooperate-container .league-info .league-content .league-content-right dt span {
    font-size: 10px;
  }
  .cooperate-content .cooperate-container .league-info .league-content .league-content-right dt input {
    height: 25px;
    font-size: 14px;
  }
  .cooperate-content .cooperate-container .league-info .league-content .league-content-right .profession {
    height: 35px!important;
  }
  .cooperate-content .cooperate-container .league-info .league-content .join-submit {
    height: 30px;
  }
  .cooperate-content .cooperate-container .league-info .league-content .point {
    width: 100%;
    height: 16px;
    line-height: 10px;
    color: #00b4ff;
    font-size: 14px;
    text-indent: 149px;
  }
}
@media (min-width: 767px) {
  .cooperate-content .cooperate-container .league-info {
    margin-top: 30px;
  }
  .cooperate-content .cooperate-container .league-info .league-content .point {
    width: 100%;
    height: 16px;
    line-height: 14px;
    color: #00b4ff;
    position: absolute;
    bottom: 26px;
    text-indent: 111px;
  }
}
