body {
  font-family: 'Microsoft YaHei!important';
}
.guide-lines {
  width: 100%;
  height: auto;
  background: #fbfbfb;
}
.guide-lines .guide-container ul li {
  cursor: pointer;
}
.guide-lines .guide-container ul h3 {
  font-size: 20px;
  font-weight: bold;
}
.guide-lines .guide-container ul h3 span {
  width: 5px;
  height: 10px;
  background: url("../images/service/row-right.jpg");
  background-size: 100% 100%;
  float: right;
  transition: all .5s linear;
  cursor: pointer;
}
.guide-lines .guide-container ul h3 .hot {
  transform: rotate(90deg);
  transition: all .5s linear;
}
.guide-lines .guide-container ul .answer {
  display: none;
}
.guide-lines .guide-container ul .answer p {
  font-size: 16px;
  line-height: 24px;
}
.guide-lines .guide-container ul .answer .answer-pic {
  width: 100%;
}
.guide-lines .guide-container ul .answer .answer-pic img {
  display: block;
  margin: auto;
}
.guide-lines .guide-container ul .show {
  display: block;
}
@media (max-width: 767px) {
  .guide-lines .guide-container ul h3 {
    font-size: 14px;
  }
  .guide-lines .guide-container ul .answer p {
    font-size: 12px;
  }
  .guide-lines .guide-container ul .answer .answer-pic img {
    width: 100%;
  }
}
